#root {
  text-align: center;
}


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}

/* estilo general de card para páginas */
.card {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

